USE [MicrobialInsights]
GO
/****** Object:  Table [dbo].[tmpImport]    Script Date: 8/28/2018 10:33:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpImport](
	[lineTxt] [varchar](4000) NULL
) ON [PRIMARY]
GO
