
USE [MicrobialInsights]
GO
/****** Object:  Table [dbo].[002OJ1_S21.summary]    Script Date: 8/28/2018 10:33:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[002OJ1_S21.summary](
	[Kingdom] [varchar](50) NULL,
	[Phylum] [varchar](50) NULL,
	[Class] [varchar](50) NULL,
	[Order] [varchar](50) NULL,
	[Family] [varchar](50) NULL,
	[Genus] [varchar](50) NULL,
	[Species] [varchar](50) NULL,
	[num_hits] [varchar](50) NULL,
	[%_hits] [varchar](50) NULL
) ON [PRIMARY]
GO
