USE [MicrobialInsights]
GO
/****** Object:  Table [dbo].[LIMS_SampleGroupList]    Script Date: 8/28/2018 10:33:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIMS_SampleGroupList](
	[lID] [bigint] NULL,
	[ListName] [nvarchar](75) NULL
) ON [PRIMARY]
GO
